/* Albums List Styles */
.albumContainer{
    margin: 6rem auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media(max-width: 600px){
    .albumContainer{
        width: 100%;
    }
}