/* Navbar Styles */
.navbarContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    background-color: rgb(78, 108, 245);
    user-select: none;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
}

.logoImage{
    height: 3.5rem;
}

.item{
    color: white;
    font-size: xx-large;
    margin-left: 2rem;
    font-weight: 700;
}

.item:hover{
    color: black;
}

@media(max-width: 600px){
    .item{
        font-size: 1.2rem;
    }
}